<div class="row">
	<div  style="margin-bottom:65px" class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3>Question n°{{indiceQuestion}} : </h3><h4>{{currentQuestion}}</h4>
			</div>
			<div class="panel-body row">
				<center>
				<button id="0" type="button" class="btn btn-lg btn-default" ng-click="checkAnswer(0, goodAnswer)">{{reponse0}}</button><hr>
				<button id="1" type="button" class="btn btn-lg btn-default" ng-click="checkAnswer(1, goodAnswer)">{{reponse1}}</button><hr>
				<button id="2" type="button" class="btn btn-lg btn-default" ng-click="checkAnswer(2, goodAnswer)">{{reponse2}}</button><hr>
				<button id="3" type="button" class="btn btn-lg btn-default" ng-click="checkAnswer(3, goodAnswer)">{{reponse3}}</button>
				</center>
			</div>
		</div>
	</div>
	
	<div class="col-md-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4>Vies restantes</h4>
			</div>
			<div class="panel-body">
				<span ng-repeat="i in getLife(infos.life)"><img style="margin-left:0.7em" alt="coeur plein" height="30" width="30" src="css/image/coeur_plein.png"></span>
				<span ng-repeat="i in getLife(infos.nolife)"><img style="margin-left:0.7em" alt="coeur vide" height="30" width="30" src="css/image/coeur_vide.png"></span>
			</div>
		</div>
	</div>
	
	<div  style="margin-bottom:65px" class="col-md-12">
		<div id="map"></div>
	</div>
</div>