<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4>A propos de votre partie</h4>
			</div>
			<div class="panel-body">
				<p>Votre score : </p>
				<p>Nombre de questions posées : </p>
				<p>Nombre de bonnes réponses : </p>
				<p>Nombre de mauvaises réponses : </p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<table class="table">
			<thead>
				<tr class="info">
					<th>Question</th>
					<th>Bonne réponse</th>
				</tr>
			</thead>
			<tbody style="background-color:white">
				<tr>
					<td>1</td>
					<td>Une bonne réponse</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Une autre bonne réponse</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-primary pull-right" ng-click="restart()">Recommencer le jeu</button>
	</div>
</div>
