<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1>Statefull Battle</h2>
			</div>
			<div class="panel-body">
				<h3>Principe du jeu</h3>
				<p>Une série de questions vont  vous être posées. Chaque bonne réponse rapporte 1 point pour le score final.</p>
				<p>Vous disposez de 3 vies pour chaque partie. À chaque mauvaise réponse, une vie est retirée. La partie se termine lorsqu'il ne vous reste plus aucune vie.</p>
				<p>Pour jouer vous devez utiliser votre compte Google.</p>
				<p>Bonne chance !</p>
			</div>
		</div>
	</div>
</div>